@import url('https://fonts.googleapis.com/css2?family=Arima&family=League+Gothic&family=Staatliches&family=Trispace:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONDO HOME Y NOSOTROS*/
.background1 {
    background-image: url(../img/background1-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*CONTENIDO PRINCIPAL DEL INICIO/HOME*/
.home {
    width: 100%;

    .container-padre-home {
        max-width: 1200px;
        margin: auto;

        .container-home1 {
            display: flex;
            justify-content: space-around;
            padding-right: 80px;
            padding-bottom: 20px;
            
            .column-home1 {
                max-width: 600px;

                .imagen-principal {
                    display: flex;
                    width: 90%;
                }
                
                .imagen-principal:hover {
                    filter: saturate(150%);
                    transition:all .5s ease-in-out;
                }

                .main-home {
                    display: flex;
                    
                    .titutlo-principal {
                        margin-top: 50px;
                        width: 100%; /*430px*/
                    }
                    
                    .titutlo-principal:hover {
                        filter: saturate(200%);
                        transition:all .5s ease-in-out;
                    }
                }

                .subtitulo-principal {
                    margin-left: 150px;
                    margin-top: 50px;
                    font-size: 20px;
                }
                
                .main-home p {
                    display: block;
                    background: linear-gradient(180deg, #4C1E0E 0%, #220d05 100%);
                    transition: all .3s;
                    color: #fff;
                    text-decoration: none;
                    margin-top: 20px;
                    padding: 15px;
                    font-weight: bold;
                    border-radius: 15px;
                    font-family: 'Trispace', sans-serif;
                }
                
                .main-home p:hover {
                    background: linear-gradient(180deg, #9c5f4b 0%, #703623 100%);
                    transition: all .3s;
                }
                
                .main-home p:active {
                    transform: scale(0.98);
                    transition: all .2s;
                }
                
                .main-home a {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }    
}

@import"_navbar.scss";

/*BIENVENIDOS - INICIO/HOME*/
.body-bienvenidos {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #742d11;

    .bienvenidos {
        /*margin: 200px auto 100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        grid-gap: 20px;*/
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .bienvenidos .card {
        /*position: relative;
        width:350px;
        margin: 0 auto;
        background:#ebebeb;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 10px 40px rgba(0,0,0,.5);
        overflow: hidden;*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 420px;
        margin: 20px;
        background: #ebebeb;
        box-shadow: 0 10px 40px rgba(0,0,0,.5);
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .bienvenidos .card .layer {
        position: absolute;
        top:calc(100% - 2px);
        left:0;
        width:100%;
        height: 100%;
        background: linear-gradient(#a0532f, #632908);
        z-index: 1;
        transition: 0.5s;
    }
    
    .bienvenidos .card:hover .layer {
        top: 0;
    }
    
    .bienvenidos .card .content {
        position: relative;
        z-index: 2;
        padding: 30px;
        text-align: center;
    }

    .bienvenidos .card .content .quote {
        max-width: 48px;
    }
    
    .bienvenidos .card .content p {
        /*font-size: 18px;
        line-height: 24px;*/
        color:#000000;
        padding: 20px 0;
    }
    
    /*.bienvenidos .card .content .image {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #ffffff;
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }*/
    
    .bienvenidos .card .content .details h2 { 
        font-size: 18px;
        color: #000000;
    }
    
    .bienvenidos .card .content .details h2 span {
        color: #2c85fa;
        font-size: 14px;
        transition: 0.5s;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }
    
    .bienvenidos .card:hover .content .details h2 span {
        color: #fff;
    }

    .bienvenidos .card:hover .content p {
        color: #fff;
    }
}

/*FONDO NOSOTROS*/
/*sección 1*/
.container-section1 {
    display: grid;
    grid-template-columns: 470px 875px;
    grid-template-rows: 70px 460px;

    justify-items: center;
    align-items: center;

    .nosotros1 {
        grid-area: 2/1;

        /*SECCIÓN "NOSOTROS"*/
        .frase1 {
            width: 560px;
            height: 430px;
            margin-bottom: 60px;
            margin-left: 90px;
        }

        .frase1:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
  
        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }
            
            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }
            
            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }
            
            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    }

    .nosotros2 {
        grid-area: 1/2;

        .nosotros-img2 {
            width: 300px + 200;
        }
    }

    .nosotros3 {
        grid-area: 2/2;
    }
}

/*FONDO NOSOTROS*/
/*sección 2*/
.container-section2 {
    display: grid;
    grid-template-columns: 860px 470px;
    grid-template-rows: 70px 460px;

    justify-items: center;
    align-items: center;

    .nosotros4 {
        grid-area: 2/2;

        .choc-foto {
            width: 860px/2; /*430px*/
            height: 225px + 225; /*450px*/
            margin-bottom: 60px;
        }

        .choc-foto:hover {
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;
            transition:all .5s ease-in-out;
        }
    }

    .nosotros5 {
        grid-area: 1/1;
        
        .img2-width {
            width: 170px * 2; /*340px*/
        }

    }

    .nosotros6 {
        grid-area: 2/1;
    }
}

.parrafo-nosotros { 
    font-family: 'Arima', cursive;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    max-width: 600px;
    background-image: linear-gradient(#dfdfdf, #bdbdbd);
    border-radius: 10%;
    box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
}

/*FONDO GALERÍA Y CONTACTO*/
.background2 {
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*GALERÍA DE IMÁGENES*/
.row-gallery {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;

    .column-gallery {
        flex: 25%;
        padding: 40px;

        .foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover, .foto5:hover, .foto6:hover, .foto7:hover, .foto8:hover, .foto9:hover, .foto10:hover, .foto11:hover, .foto12:hover, .foto13:hover, .foto14:hover, .foto15:hover, .foto16:hover, .foto17:hover, .foto18:hover {
            -webkit-transform:scale(1.3);transform:scale(1.2);
            transition:all .5s ease-in-out;
        }
    }

    .column-gallery img {
        width: 100%;
        margin-top: 60px;
        box-shadow: 35px 35px 0 #bdbdbd;
    }
}

/*FONDO PRODUCTOS*/
.background3 {
    background-image: url(../img/background3-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*PIE DE PÁGINA*/
@import"_footer.scss";

/*"CONTACTO"*/
.bg {
    background-image: url(../img/contact-foto2.png);
    background-position: center center;
}

.logo-contact {
    width: 100px - 45; /*55px*/
}

.logo-contact:hover {
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    transition:all .5s ease-in-out;
}

.btn-dark {
    $color-btn-dark: #fff;
    $bg-color: #4C1E0E;

    color: $color-btn-dark;
    background-color: $bg-color;
    border-color: $bg-color;
}

/*ARREGLOS NAVBAR*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/*PRODUCTOS*/
.carousel {
  width: 38vw;
  margin-left: 28vw;
  box-shadow: -20px -20px 0 rgba(218, 218, 218, 0.1921568627), 20px 20px 0 rgba(218, 218, 218, 0.1921568627);
}

/*MEDIA QUERIES INDEX*/
@media screen and (min-width: 320px) and (max-width: 479px) {
    /*CAMBIOS DEL INICIO/HOME*/
    .home .container-padre-home .container-home1 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 15px;
    }

    .home .container-padre-home .container-home1 .column-home1 .main-home .titutlo-principal {
        margin-top: 0px;
        width: 90%; /*430px*/
    }

    .home .container-padre-home .container-home1 .column-home1 .subtitulo-principal {
        margin-left: 20vw;
        margin-top: 50px;
        font-size: 100%;
    }

    /*CAMBIOS DEL FOOTER*/
    footer .container-footer-all .container-footer1 {
        display: flex;
        flex-wrap: wrap;
    }

    footer .container-footer-all {
        padding: 40px;
        padding-left: 20px;
    }

    footer .container-footer-all .container-footer1 .column1 .row1-img, footer .container-footer-all .container-footer1 .column3 .row1-img, footer .container-footer-all .container-footer1 .column3 .row3 img {
        width: 7%;
        height: 7%;
    }
    
    footer .container-footer-all .container-footer1 .column1 .row1-label, footer .container-footer-all .container-footer1 .column3 .row1-label {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 100%;
    }
    
    footer .container-footer-all .container-footer1 .titulo-footer {
        font-size: 100%;
    }

    footer .container-footer-all .container-footer1 .column3 .row3 label {
        margin-top: 8px;
        margin-left: 15px;
        max-width: 140px;
        font-size: 100%;
    }
    
    footer .container-footer2 .container-footer-footer2 /*.container-footer-footer2 p*/ {
        font-size: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    /*CAMBIOS EN INICIO/HOME*/
    .home .container-padre-home .container-home1 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
    }

    .home .container-padre-home .container-home1 .column-home1 .imagen-principal {
        display: flex;
        width: 80%; /*68%*/
        justify-self: center;
        margin: 0 auto;
    }

    .home .container-padre-home .container-home1 .column-home1 .main-home .titutlo-principal {
        margin-top: 0px;
        width: 80%; /*63%*/
        justify-self: center;
        margin: 0 auto;
    }

    .home .container-padre-home .container-home1 .column-home1 .subtitulo-principal {
        margin-top: 50px;
        font-size: 100%;
        justify-self: center;
    }

    /*CAMBIOS DEL FOOTER*/
    footer .container-footer-all .container-footer1 .titulo-footer {
        font-size: 100%;
    }
    
    footer .container-footer-all .container-footer1 {
        display: flex;
        flex-wrap: wrap;
    }

    footer .container-footer-all {
        padding: 40px;
        padding-left: 20px;
    }

    footer .container-footer-all .container-footer1 .column1 .row1-img, footer .container-footer-all .container-footer1 .column3 .row1-img, footer .container-footer-all .container-footer1 .column3 .row3 img {
        width: 7%;
        height: 7%;
    }
    
    footer .container-footer-all .container-footer1 .column1 .row1-label, footer .container-footer-all .container-footer1 .column3 .row1-label {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 100%;
    }

    footer .container-footer-all .container-footer1 .column3 .row3 label {
        margin-top: 8px;
        margin-left: 15px;
        max-width: 140px;
        font-size: 100%;
    }
    
    footer .container-footer2 .container-footer-footer2 /*.container-footer-footer2 p*/ {
        font-size: 100%;
    }

}

@media screen and (min-width: 600px) and (max-width: 767px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .home .container-padre-home .container-home1 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
    }

    .home .container-padre-home .container-home1 .column-home1 .imagen-principal {
        display: flex;
        width: 52%;
        justify-self: center;
        margin: 0 auto;
    }

    .home .container-padre-home .container-home1 .column-home1 .main-home .titutlo-principal {
        margin-top: 0px;
        width: 52%;
        justify-self: center;
        margin: 0 auto;
    }

    .home .container-padre-home .container-home1 .column-home1 .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }

    /*CAMBIOS DEL FOOTER*/
    footer .container-footer-all .container-footer1 .column1 .row1-img, footer .container-footer-all .container-footer1 .column3 .row1-img, footer .container-footer-all .container-footer1 .column3 .row3 img {
        width: 10%;
        height: 10%;
    }
    
    footer .container-footer-all .container-footer1 .column1 .row1-label, footer .container-footer-all .container-footer1 .column3 .row1-label {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 95%;
    }
    
    footer .container-footer-all .container-footer1 .column3 .row3 label {
        margin-top: 8px;
        margin-left: 15px;
        max-width: 140px;
        font-size: 95%;
    }
    
    footer .container-footer2 .container-footer-footer2 /*.container-footer-footer2 p*/ {
        font-size: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 784px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .home .container-padre-home .container-home1 {
        display: flex;
        margin-top: 87px;
        padding-left: 15px;
        margin-bottom: 87px;
    }

    .menu-item {
        font-size: 82%;
    }

    .menu-link:hover { 
        padding: 0px;
        background-color: rgba(221, 229, 223, 0);
    }
    
    .menu-link1:hover {
        padding: 0px;
        background-color: rgba(221, 229, 223, 0);
    }

    .home .container-padre-home .container-home1 .column-home1 .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }
}

@media screen and (min-width: 785px) and (max-width: 1023px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .home .container-padre-home .container-home1 {
        display: flex;
        margin-top: 87px;
        padding-left: 15px;
        margin-bottom: 87px;
    }

    .menu-item {
        font-size: 82%;
    }
    
    .home .container-padre-home .container-home1 .column-home1 .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }
}

/*MEDIA QUERIES NOSOTROS*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 96vw 0 /*300px 0  90vw 0*/; 
        grid-template-rows: /*85vw 15vw  148vw*/ 250px 40px 455px; 
    }
    
    .container-section1 .nosotros1 {
        grid-area: 1/1;
    }
    
    .container-section1 .nosotros2 {
        grid-area: 2/1;
    }
    
    .container-section1 .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 96vw 0 /*320px 0 94vw 0*/; 
        grid-template-rows: /*110vw 20vw 108vw*/ 350px 40px 350px; 
    }
    
    .container-section2 .nosotros4 {
        grid-area: 1/1;
    }
    
    .container-section2 .nosotros5 {
        grid-area: 2/1;
    }
    
    .container-section2 .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .container-section1 .nosotros1 .frase1 {
        width: 75%;
        height: 90%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .container-section1 .nosotros2 .nosotros-img2 {
        width: 100%;
    }
    
    .container-section2 .nosotros5 .img2-width {
        width: 70%;
        margin-left: 15vw;
    }
    
    .container-section2 .nosotros4 .choc-foto {
        width: 70% /*300px*/;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        padding: 8px;
        max-width: 600px;
        background-image: none;
        border-radius: none;
        box-shadow: none;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw /*305px*/ 0;
        grid-template-rows: 75vw 15vw 70vw /*540px*/;
    }
    
    .container-section1 .nosotros1 {
        grid-area: 1/1;
    }
    
    .container-section1 .nosotros2 {
        grid-area: 2/1;
    }
    
    .container-section1 .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw /*318px*/ 0;
        grid-template-rows: 92vw /*450px*/ 15vw /*70px*/ 52vw /*480px*/;
    }
    
    .container-section2 .nosotros4 {
        grid-area: 1/1;
    }
    
    .container-section2 .nosotros5 {
        grid-area: 2/1;
    }
    
    .container-section2 .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .container-section1 .nosotros1 .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .container-section1 .nosotros2 .nosotros-img2 {
        width: 100%;
    }
    
    .container-section2 .nosotros5 .img2-width {
        width: 70%;
        margin-left: 20%;
    }
    
    .container-section2 .nosotros4 .choc-foto {
        width: 85% /*300px*/;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        max-width: 600px;
        padding: 10px;
        background-image: none;
        border-radius: none;
        box-shadow: none;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }

    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw 0;
        grid-template-rows: 70vw 15vw 70vw;
    }
    
    .container-section1 .nosotros1 {
        grid-area: 1/1;
    }
    
    .container-section1 .nosotros2 {
        grid-area: 2/1;
    }
    
    .container-section1 .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw ;
        grid-template-rows: 72vw 15vw 65vw;
    }
    
    .container-section2 .nosotros4 {
        grid-area: 1/1;
    }
    
    .container-section2 .nosotros5 {
        grid-area: 2/1;
    }
    
    .container-section2 .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .container-section1 .nosotros1 .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .container-section1 .nosotros2 .nosotros-img2 {
        width: 70%;
        margin-left: 15%;
    }
    
    .container-section2 .nosotros5 .img2-width {
        width: 70%;
        margin-left: 15%;
    }
    
    .container-section2 .nosotros4 .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        max-width: 600px;
        padding: 50px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }

    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 55px 400px; /*7vw 50vw*/
    }
    
    .container-section1 .nosotros1 {
        grid-area: 2/1;
    }
    
    .container-section1 .nosotros2 {
        grid-area: 1/2;
    }
    
    .container-section1 .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 55vw 42vw;
        grid-template-rows: 55px 410px; /*8vw 45vw*/
    }
    
    .container-section2 .nosotros4 {
        grid-area: 2/2;
    }
    
    .container-section2 .nosotros5 {
        grid-area: 1/1;
    }
    
    .container-section2 .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .container-section1 .nosotros1 .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .container-section1 .nosotros2 .nosotros-img2 {
        width: 80%;
        margin-left: 10%;
    }
    
    .container-section2 .nosotros5 .img2-width {
        width: 60%;
        margin-left: 15%;
    }
    
    .container-section2 .nosotros4 .choc-foto {
        width: 80%;
        height: 100%;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 90%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 60px 400px /*5vw 38vw*/;

        padding-bottom: 60px;
    }
    
    .container-section1 .nosotros1 {
        grid-area: 2/1;
    }
    
    .container-section1 .nosotros2 {
        grid-area: 1/2;
    }
    
    .container-section1 .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 57vw 40vw;
        grid-template-rows: 60px 450px /*7vw 40vw*/;
    }
    
    .container-section2 .nosotros4 {
        grid-area: 2/2;
    }
    
    .container-section2 .nosotros5 {
        grid-area: 1/1;
    }
    
    .container-section2 .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .container-section1 .nosotros1 .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .container-section1 .nosotros2 .nosotros-img2 {
        width: 70%;
        margin-left: 15%;
    }
    
    .container-section2 .nosotros5 .img2-width {
        width: 50%;
        margin-left: 20%;
    }
    
    .container-section2 .nosotros4 .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 100%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1326px) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 60px 400px /*5vw 38vw*/;

        padding-bottom: 60px;
    }
    
    .container-section1 .nosotros1 {
        grid-area: 2/1;
    }
    
    .container-section1 .nosotros2 {
        grid-area: 1/2;
    }
    
    .container-section1 .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 57vw 40vw;
        grid-template-rows: 60px 450px /*7vw 40vw*/;
    }
    
    .container-section2 .nosotros4 {
        grid-area: 2/2;
    }
    
    .container-section2 .nosotros5 {
        grid-area: 1/1;
    }
    
    .container-section2 .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .container-section1 .nosotros1 .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .container-section1 .nosotros2 .nosotros-img2 {
        width: 70%;
        margin-left: 15%;
    }
    
    .container-section2 .nosotros5 .img2-width {
        width: 50%;
        margin-left: 20%;
    }
    
    .container-section2 .nosotros4 .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 100%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

/*MEDIA QUERIES GALLERY*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .row-gallery {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .row-gallery .column-gallery {
        flex: 100%;
        padding: 40px;
    }
    
    .row-gallery .column-gallery .foto1:hover, .row-gallery .column-gallery .foto2:hover, .row-gallery .column-gallery .foto3:hover, .row-gallery .column-gallery .foto4:hover, .row-gallery .column-gallery .foto5:hover, .row-gallery .column-gallery .foto6:hover, .row-gallery .column-gallery .foto7:hover, .row-gallery .column-gallery .foto8:hover, .row-gallery .column-gallery .foto9:hover, .row-gallery .column-gallery .foto10:hover, .row-gallery .column-gallery .foto11:hover, .row-gallery .column-gallery .foto12:hover, .row-gallery .column-gallery .foto13:hover, .row-gallery .column-gallery .foto14:hover, .row-gallery .column-gallery .foto15:hover, .row-gallery .column-gallery .foto16:hover, .row-gallery .column-gallery .foto17:hover, .row-gallery .column-gallery .foto18:hover {
        -webkit-transform: scale(none);
        transform: scale(none);
        transition: none;
    }
    
    .row-gallery .column-gallery img {
        width: 100%;
        margin-top: 60px;
        box-shadow: 25px 25px 0 #bdbdbd;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    .row-gallery {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .row-gallery .column-gallery {
        flex: 100%;
        padding: 40px;
    }
    
    .row-gallery .column-gallery .foto1:hover, .row-gallery .column-gallery .foto2:hover, .row-gallery .column-gallery .foto3:hover, .row-gallery .column-gallery .foto4:hover, .row-gallery .column-gallery .foto5:hover, .row-gallery .column-gallery .foto6:hover, .row-gallery .column-gallery .foto7:hover, .row-gallery .column-gallery .foto8:hover, .row-gallery .column-gallery .foto9:hover, .row-gallery .column-gallery .foto10:hover, .row-gallery .column-gallery .foto11:hover, .row-gallery .column-gallery .foto12:hover, .row-gallery .column-gallery .foto13:hover, .row-gallery .column-gallery .foto14:hover, .row-gallery .column-gallery .foto15:hover, .row-gallery .column-gallery .foto16:hover, .row-gallery .column-gallery .foto17:hover, .row-gallery .column-gallery .foto18:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
    }
    
    .row-gallery .column-gallery img {
        width: 100%;
        margin-top: 60px;
        box-shadow: 35px 35px 0 #bdbdbd;
    }
      
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .row-gallery {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .row-gallery .column-gallery {
        flex: 100%;
        padding: 20px;
    }
    
    .row-gallery .column-gallery .foto1:hover, .row-gallery .column-gallery .foto2:hover, .row-gallery .column-gallery .foto3:hover, .row-gallery .column-gallery .foto4:hover, .row-gallery .column-gallery .foto5:hover, .row-gallery .column-gallery .foto6:hover, .row-gallery .column-gallery .foto7:hover, .row-gallery .column-gallery .foto8:hover, .row-gallery .column-gallery .foto9:hover, .row-gallery .column-gallery .foto10:hover, .row-gallery .column-gallery .foto11:hover, .row-gallery .column-gallery .foto12:hover, .row-gallery .column-gallery .foto13:hover, .row-gallery .column-gallery .foto14:hover, .row-gallery .column-gallery .foto15:hover, .row-gallery .column-gallery .foto16:hover, .row-gallery .column-gallery .foto17:hover, .row-gallery .column-gallery .foto18:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
    }
    
    .row-gallery .column-gallery img {
        width: 45%;
        margin-top: 45px;
        box-shadow: 25px 25px 0 #bdbdbd;
    }

    .row-gallery .column-gallery .foto2, .row-gallery .column-gallery .foto4, .row-gallery .column-gallery .foto6, .row-gallery .column-gallery .foto8, .row-gallery .column-gallery .foto10, .row-gallery .column-gallery .foto12, .row-gallery .column-gallery .foto14, .row-gallery .column-gallery .foto16, .row-gallery .column-gallery .foto18 {
        margin-left: 35px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .row-gallery {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .row-gallery .column-gallery {
        flex: 100%;
        padding: 20px;
    }
    
    .row-gallery .column-gallery .foto1:hover, .row-gallery .column-gallery .foto2:hover, .row-gallery .column-gallery .foto3:hover, .row-gallery .column-gallery .foto4:hover, .row-gallery .column-gallery .foto5:hover, .row-gallery .column-gallery .foto6:hover, .row-gallery .column-gallery .foto7:hover, .row-gallery .column-gallery .foto8:hover, .row-gallery .column-gallery .foto9:hover, .row-gallery .column-gallery .foto10:hover, .row-gallery .column-gallery .foto11:hover, .row-gallery .column-gallery .foto12:hover, .row-gallery .column-gallery .foto13:hover, .row-gallery .column-gallery .foto14:hover, .row-gallery .column-gallery .foto15:hover, .row-gallery .column-gallery .foto16:hover, .row-gallery .column-gallery .foto17:hover, .row-gallery .column-gallery .foto18:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
    }
    
    .row-gallery .column-gallery img {
        width: 28%;
        margin-top: 40px;
        box-shadow: 20px 20px 0 #bdbdbd;
    }
    
    .row-gallery .column-gallery .foto2, .row-gallery .column-gallery .foto3,.row-gallery .column-gallery .foto5, .row-gallery .column-gallery .foto6, .row-gallery .column-gallery .foto8, .row-gallery .column-gallery .foto9, .row-gallery .column-gallery .foto11, .row-gallery .column-gallery .foto12, .row-gallery .column-gallery .foto14, .row-gallery .column-gallery .foto15, .row-gallery .column-gallery .foto17, .row-gallery .column-gallery .foto18 {
        margin-left: 5vw;
    }
}

/*MEDIA QUERIES PRODUCTS*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    /*PRODUCTOS*/
    .carousel {
        width: 100%;
        margin-left: 0;
        box-shadow: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    /*PRODUCTOS*/
    .carousel {
        width: 90%;
        margin-top: 2vw;
        margin-left: 5vw;
        box-shadow: -15px -15px 0 #dadada31, 15px 15px 0 #dadada31;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    /*PRODUCTOS*/
    .carousel {
        width: 80%;
        margin-top: 3vw;
        margin-left: 10vw;
        box-shadow: -15px -15px 0 #dadada31, 15px 15px 0 #dadada31;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    /*PRODUCTOS*/
    .carousel {
        width: 60%;
        margin-top: 3vw;
        margin-left: 20vw;
        box-shadow: -20px -20px 0 #dadada31, 20px 20px 0 #dadada31;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
    /*PRODUCTOS*/
    .carousel {
        width: 45%;
        margin-top: 3vw;
        margin-left: 27vw;
        box-shadow: -20px -20px 0 #dadada31, 20px 20px 0 #dadada31;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    /*PRODUCTOS*/
    .carousel {
        width: 42%;
        margin-top: 2vw;
        margin-left: 28vw;
        box-shadow: -20px -20px 0 #dadada31, 20px 20px 0 #dadada31;
    }
}

@media screen and (min-width: 320px) and (max-width: 399px) {
    .text-center {
        margin-left: -8vw;
    }

    .form-control {
        width: 120%;
        margin-left: -5vw;
    }

    .form-label {
        margin-left: -4vw;
    }
}

/*MEDIA QUERIES - BIENVENIDOS*/
@media (max-width: 1050px) {
    .bienvenidos {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .bienvenidos .card {
        width: 100%;
        height: auto;
        padding: 30px 20px;
    }
}

@media (max-width: 376px) {
    .body-bienvenidos .bienvenidos .card {
        width: 270px;
        height: 370px;
        margin: 10px;
    }

    .bienvenidos .card .content p {
        color: #000000;
        padding: 20px 0;
        font-size: 13px;
    }
}