@import url('https://fonts.googleapis.com/css2?family=Arima&family=League+Gothic&family=Staatliches&family=Trispace:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONDO HOME Y NOSOTROS*/
.background1 {
    background-image: url(img/background1-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*BARRA DE NAVEGACIÓN*/
.header1 {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu-link {
    color: #4C1E0E;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;  
}

.menu-link:hover {
    color: #9e604b;
}

.menu-link1 {
    color: #E5DFDD;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;  
}

.menu-link1:hover {
    color:#9e9e9e;
}

.menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
}

.menu-item:active {
    transform: scale(0.98);
    transition: all .2s;
}

.logo {
    width: 180px;
    padding: 6px 40px;
    line-height: 80px;
}
.logo:active {
    transform: scale(0.98);
    transition: all .2s;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.fi {
    color: #4C1E0E;
    margin-right: 3px;
}

.fi:hover {
    color: #9e604b;
}

.fi1 {
    color: #E5DFDD;
    margin-right: 3px;
}

.fi1:hover {
    color:#9e9e9e;
}

/*CONTENIDO PRINCIPAL DEL INICIO/HOME*/
.home {
    width: 100%;
}

.container-padre-home {
    max-width: 1200px;
    margin: auto;
}

.container-home1 {
    display: flex;
    justify-content: space-around;
    padding-right: 80px;
    padding-bottom: 20px;
}

.column-home1 {
    max-width: 600px;
}

.imagen-principal {
    display: flex;
    width: 90%;
    animation-duration: 1s;
    animation-name: rebote;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes rebote {
    from{
        margin-top: 20%;
    } to {
        margin-bottom: 0%;
    }
}

.imagen-principal:hover {
    filter: saturate(150%);
    transition:all .5s ease-in-out;
}

.main-home {
    display: flex;
}

.titutlo-principal {
    margin-top: 50px;
    width: 100%; /*430px*/
    animation-duration: 1s;
    animation-name: rebote1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rebote1 {
    from{
        margin-top: 20%;
    } to {
        margin-bottom: 0%;
    }
}

.titutlo-principal:hover {
    filter: saturate(200%);
    transition:all .5s ease-in-out;
}

.subtitulo-principal {
    margin-left: 150px;
    margin-top: 50px;
    font-size: 20px;
}

.main-home p {
    display: block;
    background: linear-gradient(180deg, #4C1E0E 0%, #220d05 100%);
    transition: all .3s;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px;
    font-weight: bold;
    border-radius: 15px;
    font-family: 'Trispace', sans-serif;
}
.main-home p:hover {
    background: linear-gradient(180deg, #9c5f4b 0%, #703623 100%);
    transition: all .3s;
}
.main-home p:active {
    transform: scale(0.98);
    transition: all .2s;
}
.main-home a {
    text-decoration: none;
    cursor: pointer;
}

/*FONDO NOSOTROS*/
/*sección 1*/
.container-section1 {
    display: grid;
    grid-template-columns: 470px 875px;
    grid-template-rows: 70px 460px;

    justify-items: center;
    align-items: center;
}

.nosotros1 {
    grid-area: 2/1;
}

.nosotros2 {
    grid-area: 1/2;
}

.nosotros3 {
    grid-area: 2/2;
}


/*FONDO NOSOTROS*/
/*sección 2*/
.container-section2 {
    display: grid;
    grid-template-columns: 860px 470px;
    grid-template-rows: 70px 460px;

    justify-items: center;
    align-items: center;
}

.nosotros4 {
    grid-area: 2/2;
}
.nosotros5 {
    grid-area: 1/1;
}

.nosotros6 {
    grid-area: 2/1;
}

/*SECCIÓN "NOSOTROS"*/
.frase1 {
    width: 560px;
    height: 430px;
    margin-bottom: 60px;
    margin-left: 90px;
}
.frase1:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.nosotros-img2 {
    width: 500px;
}

.img2-width {
    width: 340px;
}

.choc-foto {
    width: 430px;
    height: 450px;
    margin-bottom: 60px;
}

.choc-foto:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition:all .5s ease-in-out;
}

.parrafo-nosotros { 
    font-family: 'Arima', cursive;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    max-width: 600px;
    background-image: linear-gradient(#dfdfdf, #bdbdbd);
    border-radius: 10%;
    box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
}

/*FONDO GALERÍA Y CONTACTO*/
.background2 {
    background-image: url(img/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*GALERÍA DE IMÁGENES*/
.column-gallery img {
    width: 100%;
    margin-top: 60px;
    box-shadow: 35px 35px 0 #bdbdbd;
}

.row-gallery {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column-gallery {
    flex: 25%;
    padding: 40px;
}

.foto1:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto2:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto3:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto4:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto5:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto6:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto7:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto8:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto9:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto10:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto11:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto12:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto13:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto14:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto15:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto16:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto17:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}
.foto18:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition:all .5s ease-in-out;
}

/*FONDO PRODUCTOS*/
.background3 {
    background-image: url(img/background3-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*PIE DE PÁGINA*/
footer {
    background-color: #202020;
    color: #c7c7c7;
    width: 100%;

    animation: BGcolorChanging-4colors 6s linear infinite alternate both;
}

@keyframes BGcolorChanging-4colors {
    0% {
        background: #202020;
    }
    33.3333% {
        background: #3a3635;
    }
    66.666% {
        background: #424140;
    }
    100% {
        background: #161616;
    }
}

.container-footer-all {
    /*width: 100vw;*/
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer1 {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif; 
}

.column1 {
    max-width: 600px;
}

.column1 .row {
    margin-top: 20px;
    display: flex;
}

.row1 img {
    width: 30px;
    height: 30px;
    color: #c7c7c7;
}

.row1 label {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
}

.titulo-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.column3 {
    max-width: 600px;
}

.row3 {
    margin-top: 20px;
    display: flex;
}

.row3 img {
    width: 25px;
    height: 25px;
}

.row3 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    font-size: 14px;
}

.container-footer2 {
    width: 100%;
    background-color: #101010;
    color: #c7c7c7;
    font-family: Georgia, 'Times New Roman', Times, serif;

    animation: BGcolorChanging-footer2 6s linear infinite alternate both;
}

@keyframes BGcolorChanging-footer2 {
    0% {
        background: #101010;
    }
    33.3333% {
        background: #272424;
    }
    66.666% {
        background: #363433;
    }
    100% {
        background: #0e0d0d;
    }
}

.container-footer-footer2 {
    max-width: 1200px;
    margin: auto;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/*"CONTACTO"*/
.bg {
    background-image: url(img/contact-foto2.png);
    background-position: center center;
}

.logo-contact {
    width: 55px;
}

.logo-contact:hover {
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    transition:all .5s ease-in-out;
}

.btn-dark {
    color: #fff;
    background-color:#4C1E0E;
    border-color: #4C1E0E;
}

/*ARREGLOS NAVBAR*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/*MEDIA QUERIES INDEX*/
@media screen and (min-width: 320px) and (max-width: 479px) {
    /*CAMBIOS DEL INICIO/HOME*/
    .container-home1 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 15px;
    }

    .titutlo-principal {
        margin-top: 0px;
        width: 90%; /*430px*/
    }

    .subtitulo-principal {
        margin-left: 20vw;
        margin-top: 50px;
        font-size: 100%;
    }

    /*CAMBIOS DEL FOOTER*/
    .container-footer1 {
        display: flex;
        flex-wrap: wrap;
    }

    .container-footer-all {
        padding: 40px;
        padding-left: 20px;
    }

    .row1 img {
        width: 10%;
        height: 10%;
    }
    
    .row1 label {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 80%;
    }
    
    .titulo-footer {
        font-size: 100%;
    }

    .row3 img {
        width: 10%;
        height: 10%;
    }
    
    .row3 label {
        margin-top: 8px;
        margin-left: 15px;
        max-width: 140px;
        font-size: 80%;
    }
    
    .container-footer-footer2 p {
        font-size: 80%;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    /*CAMBIOS EN INICIO/HOME*/
    .container-home1 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
    }

    .imagen-principal {
        display: flex;
        width: 63%;
        justify-self: center;
        margin: 0 auto;
    }

    .titutlo-principal {
        margin-top: 0px;
        width: 63%;
        justify-self: center;
        margin: 0 auto;
    }

    .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }

    /*CAMBIOS DEL FOOTER*/
    .titulo-footer {
        font-size: 100%;
    }
    
    .container-footer1 {
        display: flex;
        flex-wrap: wrap;
    }

    .container-footer-all {
        padding: 40px;
        padding-left: 20px;
    }

    .row1 img {
        width: 7%;
        height: 7%;
    }
    
    .row1 label {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 90%;
    }
    
    .titulo-footer {
        font-size: 100%;
    }

    .row3 img {
        width: 7%;
        height: 7%;
    }
    
    .row3 label {
        margin-top: 8px;
        margin-left: 15px;
        max-width: 140px;
        font-size: 90%;
    }
    
    .container-footer-footer2 p {
        font-size: 90%;
    }

}

@media screen and (min-width: 600px) and (max-width: 767px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .container-home1 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
    }

    .imagen-principal {
        display: flex;
        width: 52%;
        justify-self: center;
        margin: 0 auto;
    }

    .titutlo-principal {
        margin-top: 0px;
        width: 52%;
        justify-self: center;
        margin: 0 auto;
    }

    .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }

    /*CAMBIOS DEL FOOTER*/
    .row1 img {
        width: 10%;
        height: 10%;
    }
    
    .row1 label {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 95%;
    }
    
    .row3 img {
        width: 10%;
        height: 10%;
    }
    
    .row3 label {
        margin-top: 8px;
        margin-left: 15px;
        max-width: 140px;
        font-size: 95%;
    }
    
    .container-footer-footer2 p {
        font-size: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .container-home1 {
        display: flex;
        margin-top: 87px;
        padding-left: 15px;
        margin-bottom: 87px;
    }

    .menu-item {
        font-size: 75%;
    }

    .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }
}

@media screen and (min-width: 801px) and (max-width: 860px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .container-home1 {
        display: flex;
        margin-top: 72px;
        padding-left: 15px;
        margin-bottom: 72px;
    }

    .menu-item {
        font-size: 85%;
    }

    .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }
}

@media screen and (min-width: 861px) and (max-width: 930px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .container-home1 {
        display: flex;
        margin-top: 54px;
        padding-left: 15px;
        margin-bottom: 53px;
    }

    .menu-item {
        font-size: 90%;
    }

    .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }
}

@media screen and (min-width: 931px) and (max-width: 985px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .container-home1 {
        display: flex;
        margin-top: 40px;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    .menu-item {
        font-size: 100%;
    }

    .subtitulo-principal {
        margin-top: 50px;
        font-size: 90%;
        justify-self: center;
    }
}

@media screen and (min-width: 986px) and (max-width: 1023px) {
    /*CAMBIOS EN EL INICIO/HOME*/
    .container-home1 {
        display: flex;
        margin-top: 22px;
        padding-left: 15px;
        margin-bottom: 22px;
    }

    .menu-item {
        font-size: 100%;
    }
}

/*NOSOTROS*/
@media screen and (min-width: 320px) and (max-width: 350px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw /*305px*/ 0;
        grid-template-rows: 85vw 15vw  148vw /*540px*/;
    }
    
    .nosotros1 {
        grid-area: 1/1;
    }
    
    .nosotros2 {
        grid-area: 2/1;
    }
    
    .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw /*318px*/ 0;
        grid-template-rows: 110vw /*450px*/ 20vw /*70px*/ 108vw /*480px*/;
    }
    
    .nosotros4 {
        grid-area: 1/1;
    }
    
    .nosotros5 {
        grid-area: 2/1;
    }
    
    .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 97%;
        height: 38vh;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 100%;
    }
    
    .img2-width {
        width: 300px;
    }
    
    .choc-foto {
        width: 95% /*300px*/;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        padding: 8px;
        max-width: 600px;
        background-image: none;
        border-radius: none;
        box-shadow: none;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 351px) and (max-width: 380px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw /*305px*/ 0;
        grid-template-rows: 75vw 15vw  120vw /*540px*/;
    }
    
    .nosotros1 {
        grid-area: 1/1;
    }
    
    .nosotros2 {
        grid-area: 2/1;
    }
    
    .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw /*318px*/ 0;
        grid-template-rows: 108vw /*450px*/ 20vw /*70px*/ 80vw /*480px*/;
    }
    
    .nosotros4 {
        grid-area: 1/1;
    }
    
    .nosotros5 {
        grid-area: 2/1;
    }
    
    .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 97%;
        height: 40vh;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 100%;
    }
    
    .img2-width {
        width: 300px;
    }
    
    .choc-foto {
        width: 95% /*300px*/;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        padding: 10px;
        margin-bottom: 0;
        max-width: 600px;
        background-image: none;
        border-radius: none;
        box-shadow: none;
    }
}

@media screen and (min-width: 381px) and (max-width: 460px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw /*305px*/ 0;
        grid-template-rows: 80vw 15vw  100vw /*540px*/;
    }
    
    .nosotros1 {
        grid-area: 1/1;
    }
    
    .nosotros2 {
        grid-area: 2/1;
    }
    
    .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw /*318px*/ 0;
        grid-template-rows: 110vw /*450px*/ 22vw /*70px*/ 70vw /*480px*/;
    }
    
    .nosotros4 {
        grid-area: 1/1;
    }
    
    .nosotros5 {
        grid-area: 2/1;
    }
    
    .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 50vh;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 100%;
    }
    
    .img2-width {
        width: 300px;
    }
    
    .choc-foto {
        width: 95% /*300px*/;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        padding: 0;
        max-width: 600px;
        background-image: none;
        border-radius: none;
        box-shadow: none;
    }
}

@media screen and (min-width: 461px) and (max-width: 600px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw /*305px*/ 0;
        grid-template-rows: 75vw 15vw 70vw /*540px*/;
    }
    
    .nosotros1 {
        grid-area: 1/1;
    }
    
    .nosotros2 {
        grid-area: 2/1;
    }
    
    .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw /*318px*/ 0;
        grid-template-rows: 92vw /*450px*/ 15vw /*70px*/ 52vw /*480px*/;
    }
    
    .nosotros4 {
        grid-area: 1/1;
    }
    
    .nosotros5 {
        grid-area: 2/1;
    }
    
    .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 100%;
    }
    
    .img2-width {
        width: 70%;
        margin-left: 20%;
    }
    
    .choc-foto {
        width: 85% /*300px*/;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        max-width: 600px;
        padding: 10px;
        background-image: none;
        border-radius: none;
        box-shadow: none;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }

    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 90vw 0;
        grid-template-rows: 70vw 15vw 70vw;
    }
    
    .nosotros1 {
        grid-area: 1/1;
    }
    
    .nosotros2 {
        grid-area: 2/1;
    }
    
    .nosotros3 {
        grid-area: 3/1;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 94vw ;
        grid-template-rows: 72vw 15vw 65vw;
    }
    
    .nosotros4 {
        grid-area: 1/1;
    }
    
    .nosotros5 {
        grid-area: 2/1;
    }
    
    .nosotros6 {
        grid-area: 3/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 70%;
        margin-left: 15%;
    }
    
    .img2-width {
        width: 70%;
        margin-left: 15%;
    }
    
    .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 110%;
        text-align: center;
        max-width: 600px;
        padding: 50px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 769px)and (max-width: 827px /*880px*/) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }

    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 8vw 60vw;
    }
    
    .nosotros1 {
        grid-area: 2/1;
    }
    
    .nosotros2 {
        grid-area: 1/2;
    }
    
    .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 55vw 42vw;
        grid-template-rows: 8vw 57vw;
    }
    
    .nosotros4 {
        grid-area: 2/2;
    }
    
    .nosotros5 {
        grid-area: 1/1;
    }
    
    .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 90%;
        margin-left: 10%;
    }
    
    .img2-width {
        width: 70%;
        margin-left: 15%;
    }
    
    .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 100%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 828px)and (max-width: 1023px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 60px 430px /*7vw 50vw*/;
    }
    
    .nosotros1 {
        grid-area: 2/1;
    }
    
    .nosotros2 {
        grid-area: 1/2;
    }
    
    .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 55vw 42vw;
        grid-template-rows: 60px 430px /*8vw 40vw*/;
    }
    
    .nosotros4 {
        grid-area: 2/2;
    }
    
    .nosotros5 {
        grid-area: 1/1;
    }
    
    .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 80%;
        margin-left: 10%;
    }
    
    .img2-width {
        width: 60%;
        margin-left: 15%;
    }
    
    .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 100%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    /*FONDO NOSOTROS*/
    .nav-menu {
        margin-right: 0;
    }
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 60px 400px /*5vw 38vw*/;
    }
    
    .nosotros1 {
        grid-area: 2/1;
    }
    
    .nosotros2 {
        grid-area: 1/2;
    }
    
    .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 57vw 40vw;
        grid-template-rows: 60px 400px /*7vw 40vw*/;
    }
    
    .nosotros4 {
        grid-area: 2/2;
    }
    
    .nosotros5 {
        grid-area: 1/1;
    }
    
    .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .nosotros-img2 {
        width: 70%;
        margin-left: 15%;
    }
    
    .img2-width {
        width: 50%;
        margin-left: 20%;
    }
    
    .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 100%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1326px) {
    /*FONDO NOSOTROS*/
    /*sección 1*/
    .container-section1 {
        display: grid;
        grid-template-columns: 45vw 50vw;
        grid-template-rows: 60px 370px /*5vw 38vw*/;
    }
    
    .nosotros1 {
        grid-area: 2/1;
    }
    
    .nosotros2 {
        grid-area: 1/2;
    }
    
    .nosotros3 {
        grid-area: 2/2;
    }

    /*FONDO NOSOTROS*/
    /*sección 2*/
    .container-section2 {
        display: grid;
        grid-template-columns: 57vw 42vw;
        grid-template-rows: 80px 450px /*7vw 40vw*/;
    }
    
    .nosotros4 {
        grid-area: 2/2;
    }
    
    .nosotros5 {
        grid-area: 1/1;
    }
    
    .nosotros6 {
        grid-area: 2/1;
    }

    /*SECCIÓN "NOSOTROS"*/
    .frase1 {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .nosotros-img2 {
        width: 70%;
        margin-left: 15%;
    }
    
    .img2-width {
        width: 50%;
        margin-left: 20%;
    }
    
    .choc-foto {
        width: 80%;
        height: 100% /*400px*/;
        margin-bottom: 0;
    }
    
    .parrafo-nosotros { 
        font-size: 100%;
        text-align: center;
        max-width: 600px;
        padding: 38px;
        background-image:  linear-gradient(#dfdfdf, #bdbdbd);
        border-radius: 10%;
        box-shadow: 7px 7px 0 rgba(58, 54, 53, 0.129);
        margin-bottom: 0;
        margin-left: 10px;
    }
}