@import url('https://fonts.googleapis.com/css2?family=Arima&family=League+Gothic&family=Staatliches&family=Trispace:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*FONDO HOME*/
.ancho {
    width: 100%;
}
.background1 {
    background-image: url(img/background1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*FONDO NOSOTROS*/
/*sección 1*/
.background-container {
    display: grid;
    grid-template-columns: 472px 877px /*34vw 64.7vw*/;
    grid-template-rows: 625px;

    grid-template-areas: 
    "background1 background2";
    position: relative;
}

.background-grid1 {
    grid-area: "background1";
    background-image: url(img/nosotros1.jpg);
    background-repeat: no-repeat;
    background-position: initial initial;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
}

.background-grid1:before {
    content: "";
    position: absolute;
    background-color:#000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background-grid2 {
    grid-area: "background2";
    background-image: url(img/background1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container-section1 {
    display: grid;
    grid-template-columns: 470px 875px;
    grid-template-rows: 90px 70px 460px;

    grid-template-areas: 
    "nav nav"
    "titulo1 titulo1"
    "parrafo1 parrafo1";

    justify-items: center;
    align-items: center;

    position: absolute;
}

.nosotros1 {
    grid-area: "nav";
    grid-column: span 2;
    justify-self: flex-end;
    align-self: center;
}

.nosotros2 {
    grid-area: 2/2;
}

.nosotros3 {
    grid-area: 3/2;
}

/*sección 2*/
.container-section2 {
    display: grid;
    grid-template-columns: 875px 470px;
    grid-template-rows: 80px 500px;

    grid-template-areas: 
    "titulo2 titulo2"
    "parrafo2 parrafo2";

    justify-items: center;
    align-items: center;

    position: absolute;
}

.nosotros4 {
    grid-area: "titulo2";
}

.nosotros5 {
    grid-area: 2/1;
    align-self: flex-start;
}

.background-container2 {
    display: grid;
    grid-template-columns: 877px 472px /*64.7vw 34vw*/;
    grid-template-rows: 625px;

    grid-template-areas: 
    "background2 background3";
}

.nosotros6 {
    grid-area: "footer";
    grid-column: 1/ span 2;
}

.background-grid3 {
    grid-area: "background3";
    background-image: url(img/nosotros2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
}

.background-grid3:before {
    content: "";
    position: absolute;
    background-color:#000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*BARRA DE NAVEGACIÓN*/
.header1 {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu-link {
    color: #4C1E0E;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;  
}

.menu-link1 {
    color: #E5DFDD;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;  
}

.menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
}

.logo {
    width: 180px;
    padding: 6px 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.fi {
    color: #4C1E0E;
    margin-right: 3px;
}

.fi1 {
    color: #E5DFDD;
    margin-right: 3px;
}
/*FONDO GALERÍA Y CONTACTO*/
.background2 {
    /*width: 100vw;
    height: 100vh;*/
    background-image: url(img/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
/*FONDO PRODUCTOS*/
.background3 {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



/*PIE DE PÁGINA*/
footer {
    background-color: #202020;
    color: #c7c7c7;
    width: 100%;
    /*padding: 40px;*/
}

.container-footer-all {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer1 {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif; 
}

.column1 {
    max-width: 400px;
}

.column1 .row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 30px;
    height: 30px;
    color: #c7c7c7;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.column2 {
    max-width: 400px;
}
.column2 .row2 {
    margin-top: 20px;
    display: flex;
}
.titulo-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.row2 a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 14px;
}

.column3 {
    max-width: 400px;
    margin-left: 20px;
}

.row3 {
    margin-top: 20px;
    display: flex;
}

.row3 img {
    width: 25px;
    height: 25px;
}

.row3 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    font-size: 14px;
}

.container-footer2 {
    width: 100%;
    background-color: #101010;
    color: #c7c7c7;
}

.container-footer-footer2 {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/*CONTENIDO PRINCIPAL DEL INICIO/HOME*/
.home {
    width: 100%;
    overflow: hidden;
}

.container-padre-home {
    max-width: 1200px;
    margin: auto;
}

.container-home1 {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.column-home1 {
    max-width: 600px;
}

.imagen-principal {
    display: flex;
    width: 90% /*520px*/;
}

.main-home {
    display: flex;
}

.titutlo-principal {
    margin-top: 50px;
    width: 100% /*430px*/;
}

.subtitulo-principal {
    margin-left: 150px;
    margin-top: 50px;
    font-size: 20px;
}

.main-home p {
    font-family: 'Trispace', sans-serif;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px;
    font-weight: bold;
    border-radius: 15px;
}

.main-home a {
    text-decoration: none;
}

/*GALERÍA DE IMÁGENES*/
.column-gallery img {
    width: 100%;
    margin-top: 60px;
    box-shadow: 35px 35px #BCBCBC;
}

.row-gallery {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column-gallery {
    flex: 25%;
    padding: 40px;
}

/*SECCIÓN "NOSOTROS" */
.nosotros-img2 {
    margin-left: 50px;
    width: 500px;
}

.img2-width {
    margin-left: 50px;
    width: 340px;
}

.parrafo-nosotros { 
    font-family: 'Arima', cursive;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 50px;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    /*.background-container {
        display: grid;
        grid-template-columns: 472px 877px /*34vw 64.7vw*/
        /*grid-template-rows: 685px /*112.3vh*/
    /*}
    .container-section1 {
        grid-template-columns: 39vw 72.7vw;
        grid-template-rows: 8vw 7vw 42vw;
    }
    .nosotros3 {
        align-self: flex-start;
    }
    .parrafo-nosotros {
        padding: 20px 90px 20px 90px;
    }
    .background-container2 {
        display: grid;
        grid-template-columns: 877px 472px;
        grid-template-rows: 685px;
    }
    .container-section2 {
        grid-template-columns: 72.7vw 39vw;
        grid-template-rows: 7vw 42vw;
    }*/
    .parrafo-nosotros { 
        font-size: 24px;
    }
    .nosotros-img2 {
        margin-left: 0;
        width: 500px;
    }
    .img2-width {
        margin-left: 10px;
        width: 340px;
    }
    .container-footer1 {
        justify-content: space-around;
    }
    .row label {
        font-size: 18px;
    }
    .row2 a {
        font-size: 18px;
    }
    .row3 label {
        font-size: 18px;
    }
    .menu-item {
        font-size: 20px;
    }
    
    .logo {
        width: 190px;
    }
}

@media screen and (min-width: 530px) and (max-width: 767px) {
    .parrafo-nosotros { 
        font-size: 24px;
    }
    .nosotros-img2 {
        margin-left: 0;
        width: 510px;
    }
    .img2-width {
        margin-left: 10px;
        width: 350px;
    }
    .container-footer1 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .row label {
        font-size: 20px;
    }
    .row2 a {
        font-size: 20px;
    }
    .row3 label {
        font-size: 20px;
    }
    .menu-item {
        font-size: 20px;
    }
    
    .logo {
        width: 190px;
    }
}

@media screen and (max-width: 529px) {
    .parrafo-nosotros { 
        font-size: 24px;
    }
    .nosotros-img2 {
        margin-left: 0;
        width: 510px;
    }
    .img2-width {
        margin-left: 10px;
        width: 350px;
    }
    .container-footer1 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .row label {
        font-size: 20px;
    }
    .row2 a {
        font-size: 20px;
    }
    .row3 label {
        font-size: 20px;
    }
    .menu-item {
        font-size: 20px;
    }
    
    .logo {
        width: 190px;
    }
}
